<section id="container">
  <header class="clearfix">
      <h2>Проект Флешкарточкер. Необходимо <%= link_to "войти", login_path %>
        в приложение или <%= link_to "зарегистрироваться", new_user_path %></h2>
  </header>
</section>
