$("div.alert").remove();
$("span.error").remove();
<% if @result == :success %>
  <% if @card %>
    $("#form_translate").remove();
    $("#card_index").html("<%= j render 'cards/card', card: @card %>");
    $("#content").append("<div class='alert alert-success'>Верно! Следующая карточка</div>");
  <% else %>
    $("#content").html("<%= j render 'cards/no_more_cards'  %>");
  <% end %>
<% elsif @result == :misprint %>
  $("#content").append("<span class='no_more_cards'>Опечатка. Вы написали <%= params[:translated_text] %>, а надо <%= @card.translated_text %></span>");
<% else %>
  $("#content").append("<div class='alert alert-error'>Неверно!</div>");
<% end %>
