$error_color: #A00000;
$success_color: #45C545;

#container {
  margin: 48px auto;
  width: 960px;
  
  > section {
    clear: both;
  }
  > header {
    margin-bottom: 46px; 
    > h1 {
      float: left;
      margin: 0;
    }
  }
}

#error_explanation {
  color: $error_color;
}

.error {
  display: block;
  margin: 20px;
  color: $error_color;
  font-style: italic;
  padding-left:5px; 
}

.success {
  color: $success_color;
  font-style: italic;
  padding-left:5px; 
}

#hero-unit {
  position: relative;
  z-index: 1;
  margin: 0;
  box-shadow: 0px 10px 6px -6px #777;
}

#content {
  z-index: -1;
  height: 900px;
  background-color: #f0f0f0;
}

#card_index {
  width: 360px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.48);
  -moz-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.48);
  box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.48);
  margin: 40px 0px 45px 30px;
  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0px 30px;
  }
  #index_form {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:#3366FF;
    margin: 25px 0 30px 0px;
  }
  #card_img_p {
    text-align: center;
  }
}

#form_translate {
  margin: 60px 0 20px 30px; 
}

#all_card_table {
  td {
    vertical-align: middle;
  }
}
#alert_error_success {
  width: 300px;
  margin: 25px 0 0 30px;
}
#footer {
  z-index: 1;
  margin: 0;
  background-color: #E4E4EA;
  height: 100px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px -10px 10px -5px #777;
  p {
    text-align: center;
    font-size: 14px;
    margin: 70px 0 0 0;
    color: #C2C6C6;
    text-shadow: 1px 1px 1px black;
  }
}

/* MISC */

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}
