$error_color: #A00000;
$success_color: #45C545;

#container {
  margin: 48px auto;
  width: 960px;
  
  > section {
    clear: both;
  }
  > header {
    margin-bottom: 46px; 
    > h1 {
      float: left;
      margin: 0;
    }
  }
}

#error_explanation {
  color: $error_color;
}

.error {
  display: block;
  margin-top: 20px;
  color: $error_color;
  font-style: italic;
  padding-left:5px; 
}

.success {
  color: $success_color;
  font-style: italic;
  padding-left:5px; 
}

.navigation-links {
  float: right;
  li { 
    display: inline-block;
    margin: 0 16px;
  }
}

#index-form {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  color:#3366FF;
  margin-left: 1.5cm;
}

#card_index {
  margin-left: 1cm;
  margin-bottom: 1cm;
  margin-top: 1cm;
  p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1cm;
  }
}
/* MISC */

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}
